<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container-fluid">
  <section class="container">
    <div class="container-page">
      <div class="col-md-6">
        <h3 class="dark-grey">Device</h3>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Address</th>
              <th>Location</th>
              <th>edit</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{add_1[0]}}</td>
              <td>{{loc_1[0]}}</td>
              <td>
                <a href="#" class="btn btn-primary a-btn-slide-text">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  <span><strong>Edit</strong></span>
                </a>
              </td>
              <td>
                <a href="#" class="btn btn-primary a-btn-slide-text">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  <span><strong>Delete</strong></span>
                </a>
              </td>
            </tr>
            <tr>
              <td>{{add_1[1]}}</td>
              <td>{{loc_1[1]}}</td>
              <td>
                <a href="#" class="btn btn-primary a-btn-slide-text">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  <span><strong>Edit</strong></span>
                </a>
              </td>
              <td>
                <a href="#" class="btn btn-primary a-btn-slide-text">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  <span><strong>Delete</strong></span>
                </a>
              </td>
            </tr>
            <tr>
              <td>{{add_1[2]}}</td>
              <td>{{loc_1[2]}}</td>
              <td>
                <a href="#" class="btn btn-primary a-btn-slide-text">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  <span><strong>Edit</strong></span>
                </a>
              </td>
              <td>
                <a href="#" class="btn btn-primary a-btn-slide-text">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  <span><strong>Delete</strong></span>
                </a>
              </td>
            </tr>
            <tr>
              <td>{{add_1[3]}}</td>
              <td>{{loc_1[3]}}</td>
              <td>
                <a href="#" class="btn btn-primary a-btn-slide-text">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  <span><strong>Edit</strong></span>
                </a>
              </td>
              <td>
                <a href="#" class="btn btn-primary a-btn-slide-text">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  <span><strong>Delete</strong></span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-6">
        <h3 class="dark-grey">User</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Username</th>
              <th>Fullname</th>
              <th>Usertype</th>
              <th>Edit</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{uname[0]}}</td>
              <td>{{fname[0]}}</td>
              <td>{{utype[0]}}</td>
              <td>
                <a href="#" class="btn btn-primary a-btn-slide-text">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  <span><strong>Edit</strong></span>
                </a>
              </td>
              <td>
                <a href="#" class="btn btn-primary a-btn-slide-text">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  <span><strong>Delete</strong></span>
                </a>
              </td>
            </tr>
            <tr>
              <td>{{uname[1]}}</td>
              <td>{{fname[1]}}</td>
              <td>{{utype[1]}}</td>
              <td>
                <a href="#" class="btn btn-primary a-btn-slide-text">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  <span><strong>Edit</strong></span>
                </a>
              </td>
              <td>
                <a href="#" class="btn btn-primary a-btn-slide-text">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  <span><strong>Delete</strong></span>
                </a>
              </td>
            </tr>
            <tr>
                <td>{{uname[2]}}</td>
                <td>{{fname[2]}}</td>
                <td>{{utype[0]}}</td>
              <td>
                <a href="#" class="btn btn-primary a-btn-slide-text">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  <span><strong>Edit</strong></span>
                </a>
              </td>
              <td>
                <a href="#" class="btn btn-primary a-btn-slide-text">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  <span><strong>Delete</strong></span>
                </a>
              </td>
            </tr>
            <tr>
                <td>{{uname[3]}}</td>
                <td>{{fname[3]}}</td>
                <td>{{utype[1]}}</td>
              <td>
                <a href="#" class="btn btn-primary a-btn-slide-text">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  <span><strong>Edit</strong></span>
                </a>
              </td>
              <td>
                <a href="#" class="btn btn-primary a-btn-slide-text">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  <span><strong>Delete</strong></span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </section>
</div>